<!-- Templates/baseTemplate.html -->
<!DOCTYPE html>
<html>
    <head>
        <title>Projektmanagement</title>
    </head>
    <body>
        <style>
            .top-left-image {
                position: absolute;
                top: 0px; /* Abstand von oben */
                left: 0px; /* Abstand von links */
                width: 70px; /* Breite des Bildes */
                height: 40; /* Proportionen beibehalten */
            }
        </style>
        <img id="logo" src="../../logo.png" border="1" class="top-left-image">
    </body>
</html>