<!-- templates/Task/TaskOverview.html -->
{% extends "baseTemplate.html" %}

{% block content %}

<div style="display: grid">
    <h1 class="center"><a style="color: black" href="/projects">{{ project.name }}</a></h1>
    <h2>Task Übersicht</h2>

    <style>
        .task_container {
            display: grid;
            grid-template-columns: 30% 30% 30%;
            gap: 3%;
            padding: 1%;
            border: black solid 2px;
        }
    </style>

        <div class="task_container">

        <style>
            .task {
                border: lightslategrey solid 2px;
                padding: 2%;
            }
        </style>
             {% for task in tasks %}
                 <div class="task">
                 <h3>{{ task.name }}</h3>
                     <div>
                         <div>Starts: {{ task.start_date}}</div>
                         <ul>
                             /* TODO!!!! Model hier noch nicht ok */
                             <li>Erna Bloom</li>
                             <li>Hans Wurst</li>
                         </ul>
                         <div>Ends: {{ task.end_date }}</div>
                     </div>
                 <div>Details: <span>{{ task.description }}</span></div>
                 <div>Done: {{ task.done }}</div>
                 <button style="background: darkseagreen">Bearbeiten</button>
                     <button style="background: lightcoral">Löschen</button>
                 </div>
             {% endfor %}
        </div>
</div>

{% endblock %}
