<style>
    .crud_container {
        display: flex;
        justify-content: center; /* Zentriert die Buttons horizontal */
        gap: 15%; /* Abstand zwischen den Buttons in Prozent */
    }
</style>
<div class="crud_container">
    <a href="{% url 'project_create' %}">
        <button>Add Project</button>
    </a>
    <a href="{% url 'project_delete' %}">
        <button>Delete Project</button>
    </a>
    <!-- <a href="{% url 'project_update' %}">
        <button>Update Project</button>
    </a> -->
    {% if projects.has_next %}
        <a href="?page={{ projects.next_page_number }}">
            <button>Next Projects</button>
        </a>
    {% endif %}
</div>
