    <!-- templates/Project/ProjectCreate.html -->
    {% extends "baseTemplate.html" %}

    {% block content %}
    <div>
        <h1>Create a project</h1>
        <form method="post">
            <div class="FormContainer">
                <label class="FormLabelContainer">Project name:</label>
                <input type="text" id="ProjectName" name="ProjectName" class="FormInputContainer" required>
            </div>
            <div class="FormContainer">
                <label class="FormLabelContainer">Starting date:</label>
                <input type="date" id="ProjectStartDate" name="ProjectStartDate" class="FormInputContainer" required>
            </div>
            <div class="FormContainer">
                <label class="FormLabelContainer">Ending data:</label>
                <input type="date" id="ProjectFinishtDate" name="ProjectFinishtDate" class="FormInputContainer" required>
            </div>
            <div class="FormContainer">
                <label class="FormLabelContainer">Projektmanager:</label>
                <input type="text" id="Projektowner" name="Projektowner" list="Projectmanagers" class="FormInputContainer" required>
                <datalist id="Projectmanagers">
                <option value="A">  
                <option value="B">
                </datalist>
            </div>
            <div class="FormContainer">
                <label class="FormLabelContainer">Description:</label>
                <textarea id="ProjectDescription" name="ProjectDescription" rows="15" class="FormInputContainer" required></textarea>
            </div>
            <button type="submit">Create</button>
        </form>
    </div>
    {% endblock %}
