    <!-- templates/Project/ProjectUpdate.html -->
    {% extends "baseTemplate.html" %}

    {% block content %}
    <div>
        <h1 style="margin-left: 41%;">Update a project</h1>
        <form method="post">
            {%include "Project/ProjectTextFields.html"%}
            <div class="FormContainer">
                <button type="submit" style="margin-left: 42.8%;" action="{% url 'project_update' %}">Update</button>
                <button type="cancel" style="margin-left: 22.4%;" action="{% url 'project_overview' %}">Cancel</button>
            </div>
        </form>
    </div>
    {% endblock %}
