    <!-- templates/Project/ProjectUpdate.html -->
    {% extends "baseTemplate.html" %}

    {% block content %}
    <div>
        <h1 style="margin-left: 41%;">Update a project</h1>
        <form method="post" action="{% url 'project_update' project.id %}">
            {% csrf_token %}
            {%include "Project/ProjectTextFields.html"%}
            <div class="FormContainer">
                <button type="submit" style="margin-left: 42.8%;">Update</button>
                <a href="{% url 'project_overview' %}" class="button" style="margin-left: 22.4%;">Cancel</a>
            </div>
        </form>
    </div>
    {% endblock %}
